/* Body */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    min-height: 100vh; /* Ensure body covers the full viewport height */
}

/* Navigation Bar */
#home {
    background-color: #7600bc;
    padding: 10px 20px; /* Adjust padding for smaller screens */
    margin-bottom: 10px; /* Adjust margin for smaller screens */
    width: 100%;
}




.profile_name {
    color: lightgray;
    font-size: 20px;
    font-style: normal;
    /* Adjust padding for smaller screens */
    padding: 0 7px 7px 7px; 
}
.profile_name img {
    max-width: 25px;
    height:100%;
}

.contact_info {
    font-size: 13px;
}


#linkedin {
    color: lightgray;
    text-decoration: none;
}

#linkedin:hover {
    color: blue;
    text-decoration: underline;
}

.topdiv {
    display: flex;
    justify-content: start;
}
.topmenu {
    color: lightgray;
    margin: 5px 5px 5px 7px;
    padding: 10px 10px 10px 0;
    font-size: 20px;
    text-decoration: none;
    float: bottom;
}

.topmenu:hover {
    color: blue;
    /* Add the styles here */
    font-weight: bolder;
    text-decoration: underline;
}

/* Titles */
h2 {
    font-size: 35px; /* Adjust font size for smaller screens */
    margin: 20px ; /* Center align and adjust margin */
}

#main-content {
    margin-left: 0 10px 0 10px;
}

/* Objective Section */
#objective h1 {
    font-size: 45px; /* Adjust font size for smaller screens */
     /* Reset margin for smaller screens */
    width: 80%; /* Adjust width for smaller screens */
    margin: 20px auto; /* Center qualifications */
}

#objective p {
    font-size: 16px; /* Adjust font size for smaller screens */
     /* Adjust margin for smaller screens */
    width: 80%; /* Adjust width for smaller screens */
    margin: 20px auto; /* Center qualifications */
}

.img_container {
    width: 100%; /* Ensure image container covers full width */
    max-width: 400px; /* Limit max-width for larger screens */
    margin: auto; /* Center align image container */
    position: relative;
}

#profile_image {
    width: 100%; /* Ensure image covers full width of container */
    max-width: 100%; /* Ensure image scales properly */
    height: auto; /* Maintain aspect ratio */
    margin-left: 0; /* Reset margin for smaller screens */
    margin-right: 0; /* Reset margin for smaller screens */
}

.overlay {
    margin-left: 0; /* Reset margin for smaller screens */
    text-align: center; /* Center align text */
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    width: 90%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    position: absolute;
}
.img_container:hover .overlay {
    opacity: 1;
}


/* Qualifications */
.all_qualifications {
    flex-direction: column; /* Display qualifications in a column */
    align-items: center; /* Center align qualifications */
    margin: 0 auto; /* Center qualifications */
}

.qualifications {
    width: 80%; /* Adjust width for smaller screens */
    margin: 20px auto; /* Center qualifications */
}

/* Skills */
.skills_section {
    margin: 30px 30px 30px 160px;
    
}

#skillsList {
    color: blue;
}

li::first-letter {
    text-transform: uppercase;
}
/* Professional Experience */
.professional_experience {
    width: 80%; /* Adjust width for smaller screens */
    margin: 20px auto; /* Center professional experience */
}

/* Education */
.bg {
    background-image: url("./html_finalprojimages/campus-spring.jpg");
    width: 80%; /* Adjust width for smaller screens */
    margin: 20px auto; /* Center education section */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    color: rgb(9, 9, 9);
    height: 380px auto;
    padding-bottom: 5px;
    box-shadow: 0 10px 15px rgb(102, 102, 102);
    margin-top: 40px;
    margin-left: 90px;
}

.education-container {
    margin: 20px auto; /* Center education section */
    width: 70%;
}

.education-card {
    width: 85%; /* Ensure education cards cover full width */
    height: auto;
    background-color: rgba(32, 32, 130, 0.326);
    padding: 30px;
    
    border-radius: 15px;
    color: rgb(247, 249, 248);
    transition: all 1.5s;
}
.education-card:hover {
    transform: translateY(5%);
    font-size: 17.5px;
    width: 80%;
    margin-top: 15px;
}

.education-card h3 {
    margin-left: 0; /* Reset margin for smaller screens */
    /* margin-top: 10px ; */
    
}

.education-card li {
    margin-left: 0; /* Reset margin for smaller screens */
}

/* Copy right */
#copy_right {
    font-size: 11px;
    text-align: center; /* Center align copy right text */
}

/* Scroll to Top Button */
/* .iconbutton { */
    /* Fixed position */
    /* position: fixed; */
    /* Adjust position from bottom */ 
    /* bottom: 20px;  */
    /* Adjust position from right */
    /* right: 20px;  */
/* } */

/* Increase size on hover */
/* .iconbutton:hover {
    transform: scale(1.1); 
} */

.iconbutton {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 3%;
    bottom: 3%;
    cursor: pointer;
    transition: width 1.2s, height 1.2s, transform 1.2s;
}

.iconbutton:hover {
    width: 50px;
    height: 50px;
    transform: rotate(360deg);
    background: rgb(32, 32, 130);
}
